*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/** shared css**/

.open-sans{
    font-family: "Open Sans", sans-serif;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

.d-flex{
    display: flex;
}

.justify-content{
    justify-content: space-between;
}

.justify-around{
    justify-content: space-around;
}

.align-items{
    align-items: center;
}

.text-align{
    text-align: center;
}


.color-orange{
    background-color: #FD6E0A;
}

.t-btn{
    background-color: transparent;
    padding: 18px 36px;
    border: 1px solid #FD6E0A;
    color: #FD6E0A;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
    cursor: pointer;
}

.btn{
    padding: 18px 36px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
    color: white;
    cursor: pointer;

}


.title{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    text-transform: capitalize;
    margin-bottom: 30px;
}

.resume{
    font-size: 18px;
    color: #757575;
    text-align: center;
    line-height: 30px;
    margin-bottom: 30px;
}


/** main css **/

.header{
    background: url("../images/developer.png"), url("../images/header_bg.png"), #FFF8F3;
    background-repeat: no-repeat;
    background-position: 38px 23px , bottom right;
}

.nav-area{
    padding-top: 50px;
}


.logo h2{
    text-transform: capitalize;
    font-weight:900;
    font-size: 45px;
}
.logo span{
    color: #FD6E0A;
}


.main-menu ul{
    gap: 68px;
    list-style: none;
}

.main-menu a{
    text-decoration: none;
    text-transform: capitalize;
    font-size: 20px;
    color: #474747;
}



.hero{
    margin: 161px 38px 0 230px;
    max-width: 1332px;
}

.hero-info h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}

.hero-info h1{
    font-size: 85px;
    font-weight:bold;
    color: #181818;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.hero-info p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}

.hero-btn button{
    margin-right: 30px;
}




.hero-image img{
    width: 584px;
    vertical-align: middle;
}




.about{
    background: #FFF8F3;
    margin-top: 130px;
    padding: 130px 157px;
}


.about-det .det-t{
    text-transform: capitalize;
    color:#757575;
    line-height: 30px;
}

.about-det .det-p{
    color: #474747;
    font-weight: bold;
}






.skills{
    margin-top: 130px;
}

.skill-info p{
    max-width: 827px;
    margin: auto;
}

.skill-blocks{
    max-width: 267px;
    padding: 30px;
    box-shadow: 0 6px 50px 0 #00000024;
}

.skill-blocks img{
    max-width: 44px;
    margin-bottom: 30px;
}

.skill-block-t h4{
    font-size: 20px;
    color: #181818;
    margin-bottom: 20px;
}
.skill-block-t p{
    color: #757575;
    line-height: 28px;
}



.summery{
    margin-top: 130px;
}

.summery-details{
    margin-top: 113px;
    gap: 28px;
}

.e-background{
    margin-bottom: 30px;
}
.e-background hr{
    color: #d1d1d1;
}


.education-title h4{
    font-size: 20px;
    color: #474747;
    text-transform: capitalize;
    margin-bottom: 30px;
}


.e-info-title h5{
    font-size: 25px;
    color: #474747;
    margin-bottom: 10px;
}

.e-info-title h6{
    font-size: 20px;
    font-weight: 600;
    color: #757575;
    margin-bottom: 57px;
}

.e-background .e-des p{
    line-height: 28px;
    color: #757575;
    margin-bottom: 30px;
}

.resume-download {
    margin-top: 50px;
}





.footer{
    background: #FFF8F3;
    margin-top: 110px; 
}

.footer .contact{
    gap: 117px;
    padding: 130px 0;
}

.footer .contact .f-content h3{
    font-size: 35px;
    color: #181818;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.contact .f-content p{
    max-width: 565px;
    color: #474747;
    line-height: 28px;
    margin-bottom: 30px;
}

.f-icons a{
    text-decoration: none;
    margin-right: 20px;
}


.contact-form input[type="text"],
.contact-form textarea{
    width: 100%;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    margin-bottom: 40px;
}